* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
}

main {
  background-color: darksalmon;
  flex-grow: 1;
}

footer {
  background-color: darkgray;
}

